body {
  background-color: #252830;
  height: 100%;
}

h1 {
  color: white;
}

#bg {
  height: 100%;
  background-color: #252830;
}

.panel-body {
  background-color: #252830;
}

.metadataColumn {
  border: solid black 1px;
  color: black;
  height: 200px;
}

.spacer10{
  margin-top: 10px;
  margin-bottom: 10px;
}

.greenText{
  color: #169776;
}
.blueText{
  color: #2281e5;
}

/********** NAVBAR **********/
.navCortex {
  font-weight: bold;
  font-size: 1.2em;
  border-width: thin;
}

.glyphicon-grain,
.glyphicon-home {
  color: #169776;
}

.blueText{
  color: #6494ed;
}

#subNavBar{
  border-top: solid #169776;
  border-width: thin;

}

.fa-caret-down .fa-cog .fa-arrow-left{
  color: white;
}

#testLi{
  margin-left: 35px;
  padding-right: 650px;

}


/********** FRONT PAGE LOGIN **********/
.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}

#loginBox {
  margin-top: 12%;
  border: solid white;
}

#loginBox h3 {
  color: #169776;
  font-weight: bold;
  text-transform: uppercase;
}

.greenBtn {
  background-color: #169776;
  border: 0px;
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;;
}

.fa-user,
.fa-lock {
  color: black;
  min-width: 15px;
}

.glyphicon-user,
.glyphicon-off{
  color: #169776;
  margin-left: 5px;
}

.dropdown{
  border-bottom: solid #1f1f1f 1px;
}
.dropdown:hover{
  border-bottom: solid red 1px;
}


/********** SITE **********/

.map-container {
  height: 200px;
  width: 100%;
  margin-bottom: 50px;
}

/********** GRAPH **********/
.graphRow {
  background-color: yellow;
  height: 150px;
}

.extraFunctionality {
  background-color: blue;
  color: black;
  height: 150px;
}

.graph {
  width: 100%;
  height: 250px;
  left: 10px;
  right: 10px;
  top: 0;
  bottom: 10px;
}

.dygraph-axis-label-y {
  color: white;
}

.fa-spinner {
  color: white;
}

/********** Footer **********/

/*FOOTER*/
.footer {
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    padding-top: 5px;
    background-color: #1c1d21;
    border-top: solid 1px;
    border-color: black;
  }

  .footer a{
    text-decoration: none;
  }

/********** **********/
/********** **********/
/********** **********/
