body{
  background-color: #282C34;
}

#topContent{
  color: #2BDA77;
  margin-bottom: 50%;
}

#groupName{
  margin-top: 10%;
}

#aboutUs{
  color: #4FA6EF;
  margin-bottom: 40%;
  margin-top: 5%;
}

#knowledge{
  color: #FF982D;
}

#endRow{
  margin-bottom: 35%;
}

#endLink{
margin-top: 10%;
margin-left: 40%;
padding-bottom: 5%;
}

.label{
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}

.teamPic{
  border-radius: 30px;
  margin-top: 5%;
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#center{
  display: block;
  margin-left: 10%;
  margin-right: 10%;
}

.linkIcon{
float: right;
padding: 2px;
}
.icons{
  margin-right: 5%;
}
