body{
  background-color: #282C34;
}

#continue{
margin-top: 35%;
margin-bottom: 5%;
margin-left: 50%;
}


#topContent{
  color: #98C379;
}

#groupName{
  font-size: 6em;
}

#aboutUs{
  color: #4FA6EF;
}

.teamPic{

}

#knowledge{
  color: #D19A66;
}

#aboutBachelor{
  color: #DB6A73;
}

  
