body {
  background-color: #252830;
  height: 100%;
}

h1 {
  color: white;
}

#bg {
  height: 100%;
  background-color: #252830;
}

.panel-body {
  background-color: #252830;
}

.metadataColumn {
  border: solid black 1px;
  color: black;
  height: 200px;
}

.spacer10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.blueText {
  color: #2aa9dc !important;
}

.not-found {
  background-image: url("images/not-found.jpg");
  background-size: cover;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.not-found-text {
  margin-top: 40%;
  color: white;
  font-weight: bold;
  font-size: 3em;
  margin-left: 40%;
}

@media only screen and (max-width:667px){
  /* styles for mobile browsers smaller than 667px; (iPhone 6s) */
  .not-found {
    background-image: url("images/not-found-mobile.png");
    background-size: cover;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }

  .not-found-text {
    margin-top: 20%;
    color: white;
    font-weight:lighter;
    font-size: 3em;
    margin-left: 0;
  }
}

/********** NAVBAR **********/
.navbar{
  margin-bottom: 0px;
  border: none;
}

.dropdown-menu{
  background-color: #222222 !important;
}
.fa-user, .fa-cog{
  color: #2aa9dc !important;
  background-color: none;
}

#testDrop a {
  color: #2aa9dc !important;
}

#testDrop a:hover {
  background-color: inherit;
  color: white !important;
}

#topNavbar {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.2em;
}

/********** SUBNAVBAR **********/
#subNavbar{
  border-top: solid #2aa9dc 1px !important;
  z-index: 1 !important;
  margin-bottom: 2%;
}

#subNavbarCustom {
  margin-top: 11px;
  margin-right: 10px;
  margin-left: 10px;
}

.dateRangeInput  {
  background: #222222 !important;
  color: #2aa9dc !important;
  font-size: 1em !important;
  width: 100px !important;
  height: 30px !important;
  border-color: #2aa9dc !important;
}

.datepicker-dropdown  {
  background: #222222 !important;
  color: #2aa9dc !important;
}

.range{
  background-color: #3d76bb !important;
}

.fa-search{
  margin-top: 18px;
  color: #3d76bb;
  cursor: pointer;
}

#yourSites{
  min-width: 250px !important;
  margin-top: 2px !important;
  padding: 20px;
  border-bottom: solid black 1px;
  border-right: solid black 1px;
}

.subNavbarLi{
  border-bottom: solid #222222 1px;
}



.queryLinks{
  color: #2aa9dc;
}

.queryLinks:hover{
  text-decoration: none;
  color: white;
}

/********** METADATA **********/
#metaData{
  margin-bottom: 3%;
}
.metaCol{
  opacity: 0.9;
}

.metaText{
  color: white;
}

#firstMeta{
  background-color: #1db954;
  border-radius: 5px;
}
#secondMeta{
  background-color: red;
  border-radius: 5px;
}
#thirdMeta{
  background-color: #2aa9dc;
  border-radius: 5px;
}
#forthMeta{
  background-color: orange;
  border-radius: 5px;
}

.countNumber{
  font-size: 83px;
  font-weight: bolder;
}
/********** FRONT PAGE LOGIN **********/

.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}

#loginBox {
  margin-top: 18%;
}

#loginBox h3 {
  color: #2aa9dc;
}

*{
  font-family: HelveticaNeue-light;
}

#userStatus{
  display: none;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 20px;
  border: none;
  padding-top: 10px;
  font-size: 15px;
  background: -webkit-linear-gradient(#fc0b34, #6a0000);

}

.greenBtn {
  background: -webkit-linear-gradient(#2BCAFA, #2068EB);
  border: 0px;
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  outline: 0 !important;
  margin-top: 4%;
}

.greenBtn:hover {
  background-color: #2aa9dc !important;
  outline: 0 !important;
}

.fa-user,
.fa-lock {
  color: black;
  min-width: 15px;
}

.greenIcon{
  color: #2aa9dc;
  margin-left: 5px;
  margin-right: 5px;
}

#login-bg {
  background-color:rgba(34, 34, 34, 0.9);
  border-radius: 5px;
  padding-bottom: 20px;
}

.login-frontpage {
  background-image: url("images/servers.jpg");
  background-size: cover;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

/********** SITE **********/

.siteWrapper {
  background-color: rgb(34, 34, 34);
  border-radius: 5px;
  margin-top: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.site-links {
  /* cant remove underline without important */
  text-decoration: none !important;
  color: #2aa9dc;
}

.site-links:hover {
  color: #2aa9dc;
}

.map-container {
  height: 350px;
  width: 100%;
  margin-bottom: 50px;
}

.noDataMessage {
  margin-top: 20%;
}

/********** GRAPH **********/
.oneGraph {
  background-color: rgb(34, 34, 34);
  border-radius: 5px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.graph {
  width: 100%;
  height: 250px;
  left: 10px;
  right: 10px;
  top: 0;
  bottom: 10px;
}

.dygraph-ylabel {
  color: #2aa9dc;
}

.dygraph-legend {
  background-color: rgb(34, 34, 34) !important;
  color: #2aa9dc;
}
/********** Footer **********/

.footer {
    clear: both;
    positionloc: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    padding-top: 1%;
    background-color: #1c1d21;
    border-top: solid black 2px;
  }

  .footer a{
    text-decoration: none;
  }

/**********ANIMATIONS**********/
.example-enter{
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}






/********** **********/
/********** **********/
