/********** GENERAL **********/

body {
  background-color: #252830;
  height: 100%;
}

a {
  color: #9d9d9d;
}

a:hover {
  text-decoration: none;
  color: white;
}

* {
  font-family: HelveticaNeue-light;
}

.spacer10 {
  margin-top: 10px;
}

.blueText {
  color: #2aa9dc !important;
}
/********** NOT FOUND **********/

.not-found {
  background-image: url("images/not-found.jpg");
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.not-found-text {
  margin-top: 40%;
  color: white;
  font-weight: bold;
  font-size: 3em;
  margin-left: 40%;
}

@media only screen and (max-width:767px){
  .not-found {
    background-image: url("images/not-found-mobile.png");
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }

.not-found-text {
    margin-top: 20%;
    color: white;
    font-weight:lighter;
    font-size: 3em;
    margin-left: 0;
  }

  .metaText {
    font-size: 12px;
  }
}

/********** NAVBAR **********/

.navbar {
  margin-bottom: 0px;
  border: none;
}

.dropdown-menu {
  background-color: #222222 !important;
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.7);
}

#customDropDown a {
  color: #9d9d9d !important;
}

#customDropDown a:hover {
  background-color: inherit;
  color: white !important;
}

.divider {
  background-color: #2aa9dc !important;
}

#topNavbar {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.2em;
}

#logoutLink {
  border: 0px;
}

#logoutLink:hover {
  background-color: inherit;
}

/********** SUBNAVBAR **********/

#subNavbar {
  border-top: solid #2aa9dc 1px !important;
  z-index: 1 !important;
  margin-bottom: 3%;
}

#subNavbarCustom {
  margin-top: 11px;
  margin-right: 10px;
  margin-left: 10px;
}

.toggleButton {
  margin-left: 10px;
  border: 0px;
}

.icon-bar {
  background-color: #9d9d9d !important;
}

.customRangeXs {
  margin: 15px;
}

.dateRangeInput {
  background: #222222 !important;
  color: #2aa9dc !important;
  font-size: 1em !important;
  width: 100px !important;
  height: 30px !important;
  border-color: #2aa9dc !important;
  margin-left: 0px;
}

.datepicker-dropdown {
  background: #222222 !important;
  color: #2aa9dc !important;
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.7);
}

@media only screen and (max-width:767px) {
  .testDiv {
    display: inline-block;
  }
}

.range {
  background-color: #3d76bb !important;
}

#yourSites {
  min-width: 250px !important;
  margin-top: 2px !important;
  padding: 20px;
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.7);
}

.subNavbarLi {
  border-bottom: solid #222222 1px;
}

@media only screen and (max-width:767px) {
  .sitesListDropDown {
    text-align: center;
    margin-bottom: 2%;
    font-size: 1.1em;
  }
}

/********** METADATA **********/

#metaData {
  margin-bottom: 3%;
}

.metaCol {
  opacity: 0.9;
}

.metaText {
  color: white;
  font-size: 0.8em;
  text-align: center;
}

#firstMeta {
  background-color: #1db954;
  border-radius: 5px;
  box-shadow: 5px 5px 4px 1px rgba(0,0,0,0.7);
}

#secondMeta {
  background-color: red;
  border-radius: 5px;
  box-shadow: 5px 5px 4px 1px rgba(0,0,0,0.7);
}

#thirdMeta {
  background-color: #2aa9dc;
  border-radius: 5px;
  box-shadow: 5px 5px 4px 1px rgba(0,0,0,0.7);
}

#forthMeta {
  background-color: orange;
  border-radius: 5px;
  box-shadow: 5px 5px 4px 1px rgba(0,0,0,0.7);
}

.countNumber {
  color: white;
  font-size: 3em;
  font-weight: bolder;
}

@media only screen and (max-width:767px){
  .countNumber {
    font-size: 1.5em;
    text-align: center;
  }

  .metaText {
    text-align: center;
  }

}

/********** FRONT PAGE LOGIN **********/

.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}

#loginBox {
  position: absolute;
  height: 40%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#loginBox h3 {
  color: #2aa9dc;
}

#userStatus {
  display: none;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
  border: none;
  padding-top: 10px;
  font-size: 15px;
  background: -webkit-linear-gradient(#fc0b34, #6a0000);
}

.blueBtn {
  background: -webkit-linear-gradient(#2BCAFA, #2068EB);
  border: 0px;
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  outline: 0 !important;
  margin-top: 4%;
}

.blueBtn:hover {
  background-color: #2aa9dc !important;
  outline: 0 !important;
}

.fa-lock,
.fa-user {
  color: black;
  min-width: 15px;
}

#login-bg {
  background-color:rgba(34, 34, 34, 0.9);
  border-radius: 10px;
  padding: 2%;
  padding-bottom: 3%;
}

.login-frontpage {
  background-image: url("images/servers.jpg");
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#biogrid {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 2%;
  margin-top: 10px;
}

/********** SITE **********/

.siteWrapper {
  background-color: #222222;
  border-radius: 5px;
  margin-top: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: 5px 5px 4px 1px rgba(0,0,0,0.7);
}

.map-container {
  height: 350px;
  width: 100%;
  margin-bottom: 50px;
}

.noDataMessage {
  margin-top: 20%;
}

/********** GRAPH **********/

.oneGraph {
  background-color: #222222;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 6%;
  box-shadow: 5px 5px 4px 1px rgba(0,0,0,0.7);
}

.graph {
  width: 100%;
  height: 250px;
  left: 10px;
  right: 10px;
  top: 0;
  bottom: 10px;
}

.dygraph-ylabel {
  color: #2aa9dc;
}

.dygraph-legend {
  background-color: #222222 !important;
  color: #2aa9dc;
}

/**********ANIMATIONS**********/

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

#greenline{
  border: solid green;
}
/********** **********/
/********** **********/
